<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- 表单头部 -->
                <div class="box-header with-border">
                    <div class="btn-group">
                        <a class="btn flat btn-sm btn-default BackButton">
                            <i class="fa fa-arrow-left"></i>
                            返回
                        </a>
                    </div>
                </div>
                <form id="dataForm" class="form-horizontal dataForm" action="/admin/user/update" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{.data.Id}}">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" class="form-control" id="user_name" placeholder="请输入用户名" name="user_name" value="{{.data.UserName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">手机号</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" class="form-control" id="phone" placeholder="请输入手机号" name="phone" value="{{.data.Phone}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" class="form-control" id="email" placeholder="请输入邮箱" name="email" value="{{.data.Email}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10 col-md-4">
                                <input maxlength="50" class="form-control" id="password" placeholder="请输入密码" name="password" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="member_level" class="col-sm-2 control-label">等级</label>
                            <div class="col-sm-10 col-md-4">
                                <select name="member_level" id="member_level" class="form-control field-select" data-placeholder="请选择用户等级">
                                    <option value=""></option>
                                    {{range $key,$item := .levels}}
                                        <option value="{{$item.Id}}" {{if compare $.data.MemberLevel $item.Id }} selected {{end}}>
                                            {{$item.Name}}
                                        </option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <script>
                            $('#member_level').select2();
                        </script>

                        <div class="form-group">
                            <label for="icon" class="col-sm-2 control-label">头像</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="avator" name="avator" placeholder="请上传avator" type="file" class="form-control field-image" data-initial-preview="{{.data.Avator}}">
                            </div>
                        </div>
                        <script>
                            $('#avator').fileinput({
                                language: 'zh',
                                overwriteInitial: true,
                                browseLabel: '浏览',
                                initialPreviewAsData: true,
                                dropZoneEnabled: false,
                                showUpload: false,
                                showRemove: false,
                                allowedFileTypes: ['image'],
                                maxFileSize: 10240,
                            });
                        </script>
                    </div>
                    <!--表单底部-->
                    <div class="box-footer">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10 col-md-4">
                            <div class="btn-group pull-right">
                                <label class="createContinue">
                                    <input type="checkbox" value="1" id="_create" name="_create"
                                           title="继续添加数据">继续添加</label>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn flat btn-info dataFormSubmit">
                                    保存
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="reset" class="btn flat btn-default dataFormReset">
                                    重置
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

<script>
    $("#dataForm").validate({
        rules: {
            merchant_name: {
                required: true,
                minlength: 2
            },
            merchant_intro: {
                required: true,
                minlength: 2
            },
            address: {
                required: true,
                minlength: 6
            },
        },
        messages: {
            merchant_name: {
                required: "请输入商家名称",
                minlength: "名称长度不能小于2"
            },
            merchant_intro: {
                required: "请输入商家简介",
                minlength: "用户名长度不能小于2"
            },
            address: {
                required: "请输入店铺地址",
                minlength: "店铺地址长度不能小于6"
            },
        },

    });
</script>

